* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contentProdutos {
  display: flex;
  justify-content: space-around;
}

.gridProdutos {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

@media (max-width: 880px) {
  .gridProdutos {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
}
@media (max-width: 550px) {
  .gridProdutos {
  display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: gold;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navLink {
  color: white;
  text-decoration: none;
}