* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout { 
  height: 100vh;
  background-image: url('/public/images/campo-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}